.taskInput{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 35px;
    gap: 0.5rem;
    margin: 0.5rem;
}
input{
    height: 90%;
    width: 200px;
    border:1px solid rgb(87, 209, 11);
    border-radius: 0.2rem;
    background-color: rgb(26, 17, 62);
    color: white;
    outline-style:none;
    padding: 0.2rem 0.5rem;
}
button{
    height: 90%;
    width: 100px;
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(121, 90, 30);
    color: white;
    padding: 0.2rem 0.5rem;
}